<div id="<%= dom_id post %>">
  <p class="fs-1 text-primary">
    <%= post.title %>
  </p>

  <p>
    <%= post.body %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= post.user.email %>
  </p>

</div>
